// system level; installed by rails

/*
@import "bootstrap-sprockets";
@import "bootstrap";
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200&family=Mukta:wght@200&family=Poppins:wght@600&display=swap');


/*$gray-medium-light: #eaeaea;
@mixin box_sizing {
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}*/




html {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body { 
    min-height: 100vh;
    /* background-color: bisque; */
}


nav {
    /* padding-top: 20px; */
    position: fixed;
    background-color: rgba(197, 207, 207, 0.7);
    width: 100%;
    height: auto;
   
}

nav ul {
    width: 100%;
    list-style: none ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

nav li {
    height: 50px;
}

nav a {
    
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}


.nav-links a:hover{
    background-color: rgb(28, 95, 95);
}
.nav-links {
    font-family: 'Poppins', sans-serif;
}
/*nav li:first-child {
    margin-right: auto;
}*/

#logo{
    justify-content: flex-start;
    position: fixed;
    padding-top: 20px;
    height: auto;
    left: 0px;
    width: 135px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.hero-section {
    height: 80vh;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

span {
    color: rgb(235, 55, 55);
}

.hero-text {
    /* font-family: 'Courier New', Courier, monospace; */
    letter-spacing: 1px;
    line-height: 1.5;
    margin-left: 12em;
    padding-top: 7%;
}

.big-intro {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.small-intro {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    padding-top: 5%;
    margin-bottom: 20px;
}

.sign-btn {
    background-color: rgb(28, 95, 95);
    border: none;
    color: white;
    margin-top: 15px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.sign-btn:hover {
    background-color: rgb(210, 130, 31);
}
.hero-image {
    display: flex;
    justify-content: flex-end;
    float: right;
    padding-top: 100px;
    margin-left: 5em;
}
#courses_tools {
    background-color: #ffff;
    height: 80vh;
    /* margin-top: 20px; */
}
#Learn {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    /* display: flex;
    justify-content: center; */
    margin: 15px 0 10px 0;
}


#courses {
    /* background-color: aliceblue; */
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    /*flex-basis: 33.333333%;*/
    justify-content: space-around; 
    margin-top: 100px;
}

#about {
    background-color: aliceblue;
    /*background-image: url(<%= asset_path 'close_FILL0_wght400_GRAD0_opsz24.svg' %>)*/;
    height: 60vh;
    /*margin-bottom: 50px;*/
    
}

#abt {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
}

.about_us {
    margin-top: 60px;
    margin-left: 12em;
    margin-right: 12em;
    /* display: flex;
    justify-content: space-between; */
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.abt-content {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
}
.l-title {
	margin-bottom: 6px;
}

.tool2 {
	background-color: rgba(255, 228, 196, 0.1);
	inline-size: 350px;
	width: 550px;
	overflow: hidden;
	border: 0.5px grey;
       	border-radius: 15px;	
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.tool2 img {		
    width: 200px;
    height: auto;
}


.tool2:hover {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.about-us-content {
	height: 60vh;
}

.abt-content {
	/*text-align: justify;*/
	line-height: 1.5;
	margin: 0 50px 0 50px;
}

/* forms */
/*input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100 % ;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	@include box_sizing;	
}*/
.signup-form {
	height: 50vh;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	margin-top: 40px;
}

.signupform-btn {
	 display: flex;
        /*justify-content: center;*/
        /* align-items: center; */
        border-radius: 10px;
        background-color: #098087;
	width: 380px;
        border: none;
        color: white;
        /*margin-left: 3em;*/
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
}

.form-input1 {
	height: 30px;
	width: 380px;
	border-radius: 3px;
	border: 1px solid black;
	display: flex;
	align-items: center;
}

.form-input1:focus {
	border-color: #d6dddd;
}

.form-input1:hover {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
}


.form-input1::placeholder {
	text-align: center;
	font-weight: lighter;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 60px 80px;
	}
}

$state-danger-text: #ff0000;

.field_with_errors {
	@extend .has-errors !optional;
	.form-input1 {
		color: $state-danger-text;
	}
}

.learn-page {
    height: 100vh;
}

.footer-container {
    /*margin-top: 150px;*/
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
    justify-content: space-between;
}

.footer-container div {
    text-align: center;
    
}

.footer-container div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px ;
}
.footer-content1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.footer-content2 .form-input {
	background-color: #efefef;
    	width: 400px;
   	height: 45px;
    	border-radius: 4px;
    	text-align: center;
    	margin: 20px 40px;
    	outline: none;
    	border: none;
}

.footer-content2 .form-button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;

}



/* .footer-content3 {
    flex-wrap: wrap;
    align-items: center;
} */

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}


.list {
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}


.menu-button {
    display: none;
}

.hero-text2 {
    display: none;
}

.jobs-page {
	
}
.sign-btn2 {
    display: none;
}


@media (max-width: 1540px){
    .hideOnMobile {
        display: none
    }
    .menu-button {
        display: block;
    }
    .hero-section{
        display: flex;
        flex-wrap: wrap;
        background-color: bisque;
        /* flex-direction: column; */
        justify-content: space-between;
        /* margin-top: 20px; */
        height: 100vh;;
    }

    .hero-text2 {
        padding-top: 8px;
        display: block;
        margin-top: 40px;
        margin-left: 2em;
        letter-spacing: 1.5px;
        line-height: 1.5;
        
    }

    .hero-text {
        display: none;
    }

    .big-intro {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-weight: bold;
        line-height: 2;
    }
    
    .small-intro {
        font-family: 'Mukta', sans-serif;
        font-size: 12px;
        padding-top: 5%;
        line-height: 2;
    }

    .hero-image img {
        width: 350px;
        height: 300px;
        
    }
    .hero-image {
        width: 100%;
        height: auto;
        margin-left: 1em;
        justify-content: center;

    }
    .sign-btn {
        display: none;
        
    }

    

    .sign-btn2 {
        display: flex;
        /*justify-content: center;*/
        /* align-items: center; */
        border-radius: 10px;
        background-color: rgb(235, 55, 55);
        border: none;
        color: white;
        margin-left: 11.5em;
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
    }


    
    #courses_tools {    
        height: 150vh;
        /* margin-top: 20px; */
    }

    #courses {
	    margin-top: 50px;
	    display: flex;
    }
    
    #Learn {
        /* display: flex; */
        font-size: 10px;
    }
    
    .tool2 {
	width: 300px;
        margin-bottom: 80px;
    }

    .tool2 img {
	    width: 100px;
    }

    #about {
        height: 50vh;
        /* margin-bottom: 10px; */
        
    }

    .tool2 h2 {
	    font-size: 8px;
    }

    .tool2 {
	    font-size: 8px;
	    line-height: 1.5;
    }

    #abt {
        
        font-size: 10px;
        /*margin-top: 20px;*/
        margin-bottom: 5px;
    }

    .about_us {
        margin-left: 2em;
        margin-right: 2em;
	margin-top: 20px;
	font-size: 12px;
        /* margin-bottom: 5em; */
    }


    .footer-container {
        justify-content: center;
       flex-wrap: wrap;
    }
    .footer-content2 h3 {
        
        font-size: 15px;
    }
    .footer-content2 .form-input {
        width: 200px;
        height: 40px;
        border-radius: 4px;
        text-align: center;
        /* margin: 5px 4px; */
        justify-content: center;
        outline: none;
        border: none;
    }

    .user-signup-page {
	    margin-bottom: 50px;
    }

    .footer-content2 .form-button {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 15px;
        padding: 5px 15px;
        font-size: 10px;
        cursor: pointer;
    
    }

    .footer-content3 {
        margin-top: 30px;
    }

    .footer-content3 h3 {
        
        font-size: 15px;
    }

    .footer-content1 h3 {
        font-weight: bolder;
        font-size: 20px;
    }
}

@media(max-width: 1536) {
	#courses-tools {
		height: 100vh;
	}

	.tool-2 {
		inline-size: 350px;
		width: 400px;
	}
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

@media(max-width: 412px) {
	.about-us-content {
		height: 65vh;
	}
}

